@media screen and (max-width: 700px) {
    .destination {
        width: 100%;
        height: auto; 
    }
}


@media screen and (min-width: 701px) {
    .destination {
        width: 800px;
        height: 600px;
    }
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('japon.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;

}
.header {
    background-image: url('avionenelcielo.jpg'); 
    background-size: cover; 
    color: #fff; 
    text-align: center; 
    padding: 100px 0; 
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 10px;
    background-color: red;
    color: aquamarine;
    margin-bottom: 0px;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    width: 99,9%;
    padding: 2px;
    margin: 2px;
    border: 2px;
  }
    
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 1px 14px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
.a1 {
    color: black;
    text-decoration:cyan;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }

@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }






.background-image {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

h1 {
    color: #002868;
}

form {
    background-color: transparent;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #002868;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #002868;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #001b45;
}
